$color-primary: hsl(120, 90%, 50%);

$color-body: hsl(0, 0%, 20%);
$color-body-light: hsl(0, 0%, 60%);

$color-joke: hsl(0, 0%, 30%);
$color-joke-light: hsl(0, 0%, 70%);

$color-text: hsl(0, 0%, 85%);

$color-categories-light: hsl(0, 0%, 80%);

@mixin tablet-and-above() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
