@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");

/* || Reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || General */

.app {
  background-color: $color-body;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "Rubik Scribble";
    color: $color-primary;
  }
}

.joke {
  font-size: 1.5rem;
  background-color: $color-joke;
  padding: 20px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__actions {
    display: flex;
    gap: 1.5rem;
    height: 30px;
  }

  &__btn {
    font-size: 1.2rem;
    width: 170px;
    text-wrap: nowrap;
    padding: 5px 10px;
    background-color: $color-primary;
    border: none;
    display: flex;
    align-items: center;

    &--inverted {
      background-color: transparent;
      border: 1px solid $color-primary;
      display: flex;
      gap: 0.3rem;
    }
  }
}

.saved-jokes {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $color-primary;
    font-family: "Rubik Scribble";
  }
}

.saved-joke {
  background-color: $color-joke;
  width: 85%;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: red;
  }
}
